<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-{{color}}">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-{{color}} item-input-inset bar bar-header">  
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/posts">
          <i class="icon ion-ios-list-outline"></i>
          {{lng_menu_posts}}
        </ion-item>
        <div ng-controller="CategoriesCtrl">
        <ion-item class="item item-icon-left item-icon-right"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
            <i class="icon ion-ios-shuffle"></i>
          {{lng_menu_categories}}
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-minus-empty {{color}}' : 'ion-ios-plus-empty {{color}}'"></i>            
        </ion-item>
        <!-- Add child categories. #bluder -->
        <div ng-repeat="category in categories track by $index">
          <ion-item class="item-stable" menu-close 
                    ng-show="isGroupShown(group)"
                    ng-if="category.count > 0 && category.parent == 0"
                    ng-click="openCategory(category.id)" track>
            <i class="icon" ng-if="category.hasChilds" data-ng-click="toggleSubGroup(category, $event)" ng-class="isSubGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i>
            <div style="display:inline-block" menu-close>{{category.name}}<span class="badge badge-{{color}}">{{category.count}}</span></div>  
          </ion-item>
          
          <ion-item class="item-accordion" menu-close
              ng-repeat="subcategory in categories track by $index"
              ng-show="isSubGroupShown(category)" 
              ng-if="subcategory.parent == category.id && isGroupShown(group)" 
              href="#/app/categories/{{subcategory.id}}" track>
              {{subcategory.name}}<span class="badge badge-{{color}}">{{subcategory.count}}</span>
          </ion-item>
        </div>
        <!-- #end -->
        </div>  
        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/bookmarks">
          <i class="icon ion-ios-bookmarks-outline"></i>
          {{lng_menu_bookmarks}}
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/settings">
          <i class="icon ion-ios-gear-outline"></i>
          {{lng_menu_settings}}
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/about">
          <i class="icon ion-ios-information-outline"></i>
          {{lng_menu_about}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>